SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SECRET_KEY=your-secret-key

#* Optional
#SUPABASE_SERVICE_KEY=your-service-role-key
#Du kan ændre til en anden port, hvis du ønsker det. Standard er 3000 på windows.
PORT=3000